
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vscode/settings.json
.vs/VSWorkspaceState.json
.vs/Code-Institute-Pillar-Project-1-MarkClone/config/applicationhost.config
.vs/Code-Institute-Pillar-Project-1-MarkClone/v16/.suo
assets/Temporary (to be removed)/css_code.css
assets/Temporary (to be removed)/html_code.html
assets/templates/main-structure.html
assets/templates/product-x.html
