/*=== VARIABLES ==============================================================================================================*/
:root {

    /*=== Colors ===*/
    --primary-color-1: #c39853;
    --primary-color-2: #65060f;
    
    --secondary-color-1: #5d5d5d;
    --secondary-color-2: #ffffff;
    --secondary-color-3: #8a8a8a;

    /*=== Text sizes ===*/
    --text-xl: 150%;
    --text-lg: 120%;
    --text-md: 100%;
    --text-sm: 80%;
    --text-xs: 70%;

    /*=== Fonts ===*/
    --font-family-menus: inherit;
    --font-family-headers: inherit;
    --font-family-text: inherit;

    /*====== General Elements variables ======*/
    
    /* Body */
    --main-text-color: var(--secondary-color-1-gray);
    --main-text-size: var(--text-md);
     
    /* Dropdown Menus */
    --dropdown-menu-font: var(--font-family-menus);
    --dropdown-menu-text-color: var(--secondary-color-1);

    --dropdown-icon-color: var(--primary-color-2);
    --dropdown-icon-size: var(--text-lg);
        
    /*====== Specific Elements variables ======*/
        
    /* Logotype */
    --logo-text-color: var(--secondary-color-1);
    --logo-icon-color: var(--primary-color-1);
    --logo-icon-size: 1.2em;
   
    /* Header */
    --header-text-color: var(--secondary-color-1);
    --header-bg-color: var(--secondary-color-2);

    /* Footer */
    --footer-text-color: var(--secondary-color-1);
    --footer-bg-color: var(--secondary-color-2);
    --footer-border-color: var(--secondary-color-1);

    --footer-icon-color: var(--secondary-color-3);
    --footer-icon-size: var(--text-md);

}


/*=== HTML ELEMENTS===========================================================================================================*/

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-size: var(--main-text-size);
}

header {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
}

h1 {
    font-size: var(--text-xl);
}

h2 {
    font-size: var(--text-lg);
}

h3, h4 {
    font-size: var(--text-md);
}

/*=== GENERAL STYLES (To be used across the Project)==========================================================================*/

.no-paddings-margins {
    padding: 0;
    margin: 0;
}

.invisible {
    font-size: 0;
    color: transparent;
    background-color: transparent;
    position: absolute;
}

/*--------------------------------------------------------------------------- Text styles -------------------------------------*/

.text-xl {
    font-size: var(--text-xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

.text-bold {
    font-weight: bold;
}

.text-thin {
    font-weight: thin;
}



/*--------------------------------------------------------------------------- Colors ------------------------------------------*/

.color-gray {
    font-size: var(--secondary-color-1);
}




/*=== SPECIFIC GENERAL STYLES (Special areas to be formated the same across the Project)=======================================*/

/*--------------------------------------------------------------------------- Logotype ----------------------------------------*/

.logo-icon {
    font-size: var(--logo-icon-size);
    color: var(--logo-icon-color);
}

.logo-icon-small {
    padding: 0 5px;
}

.logo-icon-large {
    padding: 0 10px;
}

/*--------------------------------------------------------------------------- Dropdown Menus ----------------------------------------*/

.dropdown-menu-custom {
    font-family: var(--dropdown-menu-font);
    color: var(--dropdown-menu-text-color);
}

.dropdown-menu-icon {
    padding: 0 20px 0 0;
    font-size: var(--dropdown-icon-size);
    color: var(--dropdown-icon-color);
}


/*---------------------------------------------------------------------------Billboard ----------------------------------------*/

.billboard {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 70vh;
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------------------------------------Main Content Area --------------------------------*/

.main-content-container {
    margin: auto;
    padding: 20px 0;
}

/*---------------------------------------------------------------------------Footer --------------------------------------------*/
.footer-container {
    width: 100%;
    height: 80px;
    background-color: var(--footer-bg-color);
    padding: 0;
    margin: 30px 0 0 0;
    border-top: 1px solid var(--footer-border-color);
}

.footer-row {
    margin: auto;
    padding: 30px 0;
    height: auto;
}

.footer-content {
    padding: 30px 30px;
    width: 100%;
    text-align: center;
}

.footer-icon {
    padding: 0 5px;
    color: var(--footer-icon-color);
    font-size: var(--footer-icon-size);
}




/*=== MAIN PAGE - index.html ===================================================================================================*/

/*---------------------------------------------------------------- Billboard - Main- ------*/

.billboard-start {
    background-image: url("../images/track1.jpg");
}



/*=== MEDIA QUERIES ============================================================================================================*/

/* --- Bootstrap xl breakpoint - More than 1200px --- */
@media screen and (min-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 70%;  
    }

    /*Footer*/
    .footer-row {
        width: 70%;
    }

}

/* --- Bootstrap xl breakpoint - Less than 1200px --- */
@media screen and (max-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 80%;
    }

    /*Footer*/
    .footer-row {
        width: 80%;
    }

}


/* --- Bootstrap lg breakpoint - Less than 992px --- */
@media screen and (max-width: 992px) {
    
    /*Main content*/
    .main-content-container {
        width: 90%;
    }

    /*Footer*/
    .footer-row {
        width: 90%;
    }

}



/* --- Bootstrap md breakpoint - Less than 768px --- */
@media screen and (max-width: 768px) {
    
    /*Main content*/
    .main-content-container {
        width: 100%;
    }

    /*Footer*/
    .footer-row {
        width: 100%;
    }

}







