/*!=== HTML ELEMENTS ===============================================================*/

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-size: var(--main-text-size);
}

header {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
}

h1 {
    font-size: var(--text-xl);
}

h2 {
    font-size: var(--text-lg);
}

h3, h4 {
    font-size: var(--text-md);
}

/*!=== GENERAL STYLES (To be used across the Project) ======================================*/

.no-paddings-margins {
    padding: 0;
    margin: 0;
}

.invisible {
    font-size: 0;
    color: transparent;
    background-color: transparent;
    position: absolute;
}

.clear-button {
    background-color: inherit;
    border: inherit;
    font-family: inherit;
    color: inherit;
    padding: inherit;
    margin: inherit;
    outline: none;
    box-sizing: inherit;

}

/*--- Text Styles -----------------------------------------------------------------------------------------------------------------------------*/

.text-xl {
    font-size: var(--text-xxl);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-mds {
    font-size: var(--text-mdl);
}

.text-md {
    font-size: var(--text-md);
}

.text-mds {
    font-size: var(--text-mds);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs)
}

.text-bold {
    font-weight: bold;
}

.text-thin {
    font-weight: thin;
}

/*!=== SPECIFIC GENERAL STYLES (Special areas to be formated the same across the Project)===========*/

/*--- Logotype ---------------------------------------------------------------------------------------------------------------------------------*/

.logo-icon {
    font-size: var(--logo-icon-size);
    color: var(--logo-icon-color);
}

.logo-icon-small {
    padding: 0 3px;
}

.logo-icon-large {
    padding: 0 10px;
}

.logotype {
    font-family: var(--font-family-logotype);
}

.logotype-small {
    font-size: var(--logo-small-font-size);
}

.logotype-large {
    font-size: 1em;
}

/*--- Header / Navbar -------------------------------------------------------------------------------------------------------------------------*/
.top-navbar-row {
    height: 5vh;
}

.top-navbar-logo-container {
    width: 100%;
    padding-left: 20px;
    font-size: var(--logo-large-font-size);
}

header {
    background-color: var(--top-navbar-bg-color);
}

.top-navbar-link-container {
    position: relative;
}

.top-navbar-menu-link {
    display: inline-block;
    width:150px;
    position: relative;
    text-align:center;
    right: 75px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--menu-link-1-color);
    font-size: var( --menu-link-1-size);
    font-family: var(--font-family-menus);
    background-color: 0;
    border: 0;
}

.top-navbar-menu-link i {
    padding-left: 6px;
    position: absolute;
    top: 5px;
    font-size: 1em;
    color: var(--menu-link-icon-color);
}

#top-navbar-submenu {
    display: none;


}

/*--- Billboard --------------------------------------------------------------------------------------------------------------------------------*/

.billboard {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 70vh;
    width: 100%;
    height: 70vh;
    padding: 0;
    margin: 0;
}

/*--- Main Content Area ------------------------------------------------------------------------------------------------------------------*/

.main-content-container {
    width:100%;
    margin: auto;
    padding: 20px 0;
}

/*--- Footer -----------------------------------------------------------------------------------------------------------------------------------*/
.bottom-menu-container {
    width: 100%;
    height: 80px;
    background-color: var(--footer-bg-color);
    padding: 0;
    margin: 30px 0 0 0;
    border-top: 1px solid var(--footer-border-color);
}

.bottom-menu-row {
    margin: auto;
    padding: 30px 0;
    height: auto;
}

.bottom-menu-content {
    padding: 30px 30px;
    width: 100%;
    text-align: center;
}

.bottom-menu-icon {
    padding: 0 5px;
    color: var(--footer-icon-color);
    font-size: var(--footer-icon-size);
}

.bottom-menu-dropdown {
    font-family: var(--dropdown-menu-font);
    color: var(--dropdown-menu-text-color);
}

.bottom-menu-dropdown-icon {
    padding: 0 20px 0 0;
    font-size: var(--dropdown-icon-size);
    color: var(--dropdown-icon-color);
}

/*!=== MAIN PAGE - index.html =============================================================*/

/*--- Billboard - Main Page -----------------------------------------------------------------------------------------------------------------*/

.billboard-main-page {
    background-image: url("../images/track1.jpg");
}

/*!=== MEDIA QUERIES ==================================================================*/

/* --- Bootstrap xl breakpoint - More than 1200px ----------------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 70%;  
    }

    /*Footer*/
    .footer-row {
        width: 70%;
    }

}

/* --- Bootstrap xl breakpoint - Less than 1200px --------------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 80%;
    }

    /*Footer*/
    .footer-row {
        width: 80%;
    }

}

/* --- Bootstrap xl breakpoint - Less than 1100px --------------------------------------------------------------------------------------- */
@media screen and (max-width: 1100px) {
       
    /* Top Navbar Menu Link */
        .top-navbar-link-container {
            text-align: right;
        }
    
        .top-navbar-menu-link {
            text-align: right;
            right: 0px;
            padding-right: 20px;
        }
    
        .top-navbar-menu-link i {
            position: relative;
            top: 0px;
        }
}

/* --- Bootstrap lg breakpoint - Less than 992px ------------------------------------------------------------------------------------------ */
@media screen and (max-width: 992px) {
    
    /*Main content*/
    .main-content-container {
        width: 90%;
    }

    /*Footer*/
    .footer-row {
        width: 90%;
    }

}

/* --- Bootstrap md breakpoint - Less than 768px ---------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    
    /*Main content*/
    .main-content-container {
        width: 100%;
    }

    /*Footer*/
    .footer-row {
        width: 100%;
    }

}

/* --- Bootstrap md breakpoint - Less than 450px ---------------------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
    
    .logotype-large {
        font-size: 0.8em;
    }
}





