/* #1 === HTML ELEMENTS ====================================================================*/

body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-size: var(--main-text-size);
}

header {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-family: inherit;
}

h1 {
    font-size: var(--text-xl);
}

h2 {
    font-size: var(--text-lg);
}

h3, h4 {
    font-size: var(--text-md);
}

main {
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

/* Test classes (to be removed) */
/* TODO: Don't forget to remove test-classes */

.one {
    background-color: rgb(177, 114, 114);
    width: 100%;
    height: 30vh;
    padding: 0;
    margin: 0;
}

.two {
    background-color: rgb(162, 190, 162);
    width: 100%;
    height: 30vh;
    padding: 0;
    margin: 0;
}

.three {
    background-color: rgb(156, 156, 199);
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}

.four {
    background-color: rgb(216, 200, 172);
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}

.five {
    background-color: rgb(173, 130, 153);
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}

.six {
   background-color:  rgb(24, 73, 112);
   width: 100%;
   height: 50vh;
   padding: 0;
   margin: 0;
}

/* #1 === GENERAL STYLES (To be used across the Project) ======================================*/

.no-paddings-margins {
    padding: 0;
    margin: 0;
}

.invisible {
    font-size: 0;
    background-color: transparent;
    position: absolute;
}

.clear-button {
    background-color: transparent;
    color: inherit;
    border: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    margin: inherit;
    outline: none;
    box-sizing: inherit;
}

/* #2 - DropDown Menus ------------------------------------------------------------------------*/

.menu-dropdown {
    font-family: var(--dropdown-menu-font);
    color: var(--dropdown-menu-text-color);
}

.menu-dropdown-nav {
    width: 200px;
}

.menu-dropdown-foot {
    width: 300px;
}

.dropdown-icon {
    padding: 0 20px 0 0;
    font-size: var(--dropdown-icon-size);
    color: var(--dropdown-icon-color);
}

/* #2 Text Styles ------------------------------------------------------------------------------*/

.text-xl {
    font-size: var(--text-xxl);
}

.text-xl {
    font-size: var(--text-xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-mds {
    font-size: var(--text-mdl);
}

.text-md {
    font-size: var(--text-md);
}

.text-mds {
    font-size: var(--text-mds);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs)
}

.text-bold {
    font-weight: bold;
}

.text-thin {
    font-weight: thin;
}

/* #1 === SPECIFIC GENERAL STYLES ==============================================================*/

/* #2 --- Logotype -----------------------------------------------------------------------------*/

.logo-icon {
    font-size: var(--logo-icon-size);
    color: var(--logo-icon-color);
}

.logo-icon-small {
    padding: 0 3px;
}

.logo-icon-large {
    padding: 0 10px;
}

.logotype {
    font-family: var(--font-family-logotype);
}

.logotype-small {
    font-size: var(--logo-small-font-size);
}

.logotype-large {
    font-size: 1em;
}

/* #2 --- HEADER / NAVBAR ----------------------------------------------------------------------*/

/* #3 --- Navbar Top ------------------------*/

top-navbar-row {
    height: 5vh;
}

.top-navbar-logo-container {
    width: 100%;
    padding-left: 20px;
    font-size: var(--logo-large-font-size);
}

/* TODO: Make a class for image in header */
header {
    background-color: var(--top-navbar-bg-color);
}

.top-navbar-link-container {
    position: relative;
}

.top-navbar-menu-link {
    display: inline-block;
    width:150px;
    position: relative;
    text-align:center;
    right: 75px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--menu-link-1-color);
    font-size: var( --menu-link-1-size);
    font-family: var(--font-family-menus);
    background-color: 0;
    border: 0;
}

.top-navbar-menu-link i {
    padding-left: 6px;
    position: absolute;
    top: 5px;
    font-size: 1em;
    color: var(--menu-link-icon-color);
}

/* #3 --- Navbar Submenu ------------------------*/

#top-navbar-submenu {
    display: none;
    padding: 50px 100px;
    border-bottom: 1px solid var(--border-thin-light);
}

.top-navbar-submenu-group {
    text-align: center;
    padding-bottom: 20px;
}

.top-navbar-submenu-header {
    height: 60px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid var(--border-thin-light);
    font-size: var(--menu-text-1-size);
    color: var(--menu-text-1-color);
    font-family: var(--menu-text-1-font);
    text-transform: uppercase;
}

.top-navbar-submenu-text {
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid var(--border-thin-light);
    font-size: var(--menu-text-2-size);
    color: var(--menu-text-2-color);
    font-family: var(--menu-text-2-font);
}

.top-navbar-submenu-link {
    display: block;
}

/* ==== #2 - Background Image Containers =============== */

.billboard {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 65vh;
    width: 100%;
    height: 65vh;
    padding: 0;
    margin: 0;
}

.full-screen-bg {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 75vh;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
}

.full-screen-bg-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: inherit;
    background: linear-gradient(180deg, var(--screen-overlay-0) 0%, var(--screen-overlay-50) 50%, var(--screen-overlay-100) 100%);
}

/* :::: #1 - Main Content Area ::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* ==== #2 Container to control width to all Main Content =======================  */
.main-content-container {
    position: relative;
    z-index: 5;
    width:100%;
    min-height: 80vh;
    margin: 0 auto;
    padding-top: 50px;
 }

/* ==== #2 Containers for One-Column pages (use "template---one-column.html")  ====  */
/* ==== Or use Bootstrap grid content area ==== */

.one-column-header {
    margin-top: 0px;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
}

.one-column-frame {
    margin: 20px auto 0px auto;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
}

.one-column-bottom {
    width: 100%;
    height: 30px;
    background-color: transparent;
}

/* #2 --- Footer -----------------------------------------------------------------------------------------------*/
.bottom-menu-container {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 20vh;
    background-color: var(--footer-bg-color);
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--footer-border-color);
}

.bottom-menu-row {
    margin: auto;
    padding: 30px 0;
    height: auto;
}

.bottom-menu-content {
    padding: 30px 30px;
    width: 100%;
    text-align: center;
}

.bottom-menu-icon {
    padding: 0 5px;
    color: var(--footer-icon-color);
    font-size: var(--footer-icon-size);
}

/* :::: #1 - MAIN PAGE ::::::::::::::::::::::::::::::::: */

.billboard-main-page {
    background-image: url("../images/track-1080.jpg");
}

/* :::: #1 - ORDER PAGES:: ::::::::::::::::::::::::::::: */



.order-progress {
    margin: 0px 20px;
}

/* ==== #2 - Background Images ========================= */

.order-bg-2 {
    background-image: url("../images/factory1-1080.jpg");
}

/* ==== #2 - Form Elements ============================= */



.order-form-group {
    padding: 30px 100px;
}

/*!=== MEDIA QUERIES ==================================================================*/

/* --- Bootstrap xl breakpoint - More than 1200px ----------------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 70%;  
    }

    /*Footer*/
    .footer-row {
        width: 70%;
    }

}

/* --- Bootstrap xl breakpoint - Less than 1200px --------------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
    
    /*Main content*/
    .main-content-container {
        width: 80%;
    }

    /*Footer*/
    .footer-row {
        width: 80%;
    }

}

/* ------------------------------------- Less than 1100px --------------------------------------------------------------------------------------- */
@media screen and (max-width: 1100px) {
       
    /* Top Navbar Menu Link */
        .top-navbar-link-container {
            text-align: right;
        }
    
        .top-navbar-menu-link {
            text-align: right;
            right: 0px;
            padding-right: 20px;
        }
    
        .top-navbar-menu-link i {
            position: relative;
            top: 0px;
        }
}

/* --- Bootstrap lg breakpoint - Less than 992px ------------------------------------------------------------------------------------------ */
@media screen and (max-width: 992px) {
    
    /*Main content*/
    .main-content-container {
        width: 90%;
    }

    /*Footer*/
    .footer-row {
        width: 90%;
    }

}

/* --- Bootstrap md breakpoint - Less than 768px ---------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    
    /*Main content*/
    .main-content-container {
        width: 100%;
    }

    /*Footer*/
    .footer-row {
        width: 100%;
    }

}

/*TODO  Add a breakpoint for sm at below 576px */
/* --- Bootstrap md breakpoint - Less than 450px ---------------------------------------------------------------------------------------- */
@media screen and (max-width: 450px) {
    
    .logotype-large {
        font-size: 0.8em;
    }
}

/* --- Bootstrap md breakpoint - Less than 370px ---------------------------------------------------------------------------------------- */
@media screen and (max-width:370px) {
    
    .logotype-large {
        font-size: 0.6em;
    }
}





