/*!=== VARIABLES ====================================================================*/
:root {
    /*=== Colors ===*/
    --primary-color-1: #c39853;
    --primary-color-2: #65060f;
    --primary-color-3: #df8817;
    --primary-color-4: #6b53c3;
    --secondary-color-1: #5d5d5d;
    --secondary-color-2: #ffffff;
    --secondary-color-3: #8a8a8a;
    --secondary-color-4: #e0e0e0;
    --secondary-color-5: #b3b3b3;
    --secondary-color-6: #c8c8c8;
    --secondary-color-7: #dbdbdb;
    /*=== Text sizes ======================================================================*/
    --text-xxl: 180%;
    --text-xl: 150%;
    --text-lg: 120%;
    --text-mdl: 110%;
    --text-md: 100%;
    --text-sm: 80%;
    --text-xs: 70%;
       /*=== Fonts ===*/
    --font-family-menus: inherit;
    --font-family-headers: inherit;
    --font-family-text: inherit;
    --font-family-logotype: inherit;
    /*!=== GENERAL ELEMENTS VARIABLE ========================================================*/
    /* === BODY === */
    --main-text-color: var(--secondary-color-1);
    --main-text-size: var(--text-md);
    --main-bg-color: var(--secondary-color-7);
    
    --screen-overlay-0: rgba(219,219,219,1);
    --screen-overlay-50: rgba(219,219,219,.5);
    --screen-overlay-100: rgba(219,219,219,1);
    
    
    /* === MENUS === */
    /* Links */
    --menu-link-1-color: var(--secondary-color-1);
    --menu-link-1-size: var(--text-md);
    --menu-link-icon-color: var(--secondary-color-3);
    /* Headers */
    --menu-text-1-size: var(--text-lg);
    --menu-text-1-color: var(--primary-color-2);
    --menu-text-1-font: var(--font-family-headers);
    --menu-text-2-size: var(--text-md);
    --menu-text-2-color: var(--secondary-color-1);
    --menu-text-2-font: var(--font-family-menus);
    /* Dropdowns */
    --dropdown-menu-font: var(--font-family-menus);
    --dropdown-menu-text-color: var(--secondary-color-1);
    --dropdown-icon-color: var(--primary-color-2);
    --dropdown-icon-size: var(--text-lg);

    /* === BORDERS === */
    --border-thin-light: var(--secondary-color-6);

    /*=== Specific Elements variables ========================================================*/
    /* Logotype */
    --logo-text-color: var(--secondary-color-1);
    --logo-icon-color: var(--primary-color-1);
    --logo-icon-size: 1.2em;
    --logo-small-font-size: var(--text-xs);
    --logo-large-font-size: var(--text-xxl);
    /* Header */
    --header-text-color: var(--secondary-color-1);
    --top-navbar-bg-color: var(--secondary-color-4);
    /* Footer */
    --footer-text-color: var(--secondary-color-1);
    --footer-bg-color: var(--secondary-color-2);
    --footer-border-color: var(--secondary-color-1);
    --footer-icon-color: var(--secondary-color-3);
    --footer-icon-size: var(--text-md);
}