/* :::: VARIABLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
:root {
    /*=== Colors ===*/
    --primary-color-1: #c39853;
    --primary-color-2: #65060f;
    --primary-color-3: #df8817;
    --primary-color-4: #6b53c3;
    --primary-color-5: #b56b65;
    --secondary-color-1: #5d5d5d;
    --secondary-color-2: #ffffff;
    --secondary-color-3: #8a8a8a;
    --secondary-color-4: #e0e0e0;
    --secondary-color-5: #b3b3b3;
    --secondary-color-6: #c8c8c8;
    --secondary-color-7: #dbdbdb;
    /*=== Text sizes =========================================================================*/
    --text-xxl: 170%;
    --text-xl: 150%;
    --text-lg: 120%;
    --text-mdl: 110%;
    --text-md: 100%;
    --text-mds: 90%;
    --text-sm: 80%;
    --text-xs: 70%;
    /*=== Fonts ===*/
    --font-family-menus: inherit;
    --font-family-headers: inherit;
    --font-family-links: inherit;
    --font-family-text: inherit;
    --font-family-logotype: inherit;
    
    /* :::: GENERAL ELEMENTS VARIABLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    
    /* === BODY === */
    --main-text-size: var(--text-md);
    --main-font-family: var(--font-family-text);
    --main-text-color: var(--secondary-color-1);

      
    /* For pages using full screen background images */
    --screen-overlay-0: rgba(219,219,219,1);
    --screen-overlay-50: rgba(219,219,219,.5);
    --screen-overlay-100: rgba(219,219,219,1);
        
    /* === FORMS === */


    /* === BORDERS === */
    --border-thin-light: var(--secondary-color-6);

    /* === LOGOTYPE === */
    --logo-text-color: var(--secondary-color-1);
    --logo-icon-color: var(--primary-color-1);
    --logo-icon-size: 1.2em;
    --logo-small-font-size: var(--text-xs);
    --logo-large-font-size: var(--text-xxl);
    
    /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    /* :::: #1 - SPECIFIC SECTIONS AND PAGES :::::::::::::::::::::::::::::::::::::::::::::::: */ 
    /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    




}