/* ::::::::::::::::::::::::::::::::::::::: IMPORTED FONTS ::::::::::::::::::::::::::::::::::::::::: */
/* FROM: Google Fonts                                                                           === */
/* (all available sizes and styles are included for all fonts)                                  === */
/* Montserrat - Oswald - Roboto - Merriweather - Poppins                                        === */
/*                                                                                              === */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* :::: VARIABLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
:root {
     /*=== Colors ==================================================================================*/

    --primary-color-1:      #f0b776;
    --primary-color-2:      #c39853;
    --primary-color-3:      #e78a21;
    --primary-color-4:      #ff6e64;
    --primary-color-5:      #65060f;
    --primary-color-6:      #4b3f61;
  
    --secondary-color-0:    #000000;
    --secondary-color-1:    #5d5d5d; /* Standard body text */  
    --secondary-color-2:    #8a8a8a;
    --secondary-color-3:    #b3b3b3;
    --secondary-color-4:    #c8c8c8;
    --secondary-color-5:    #ffffff;


    --transparent-color: transparent;
    
    /*=== Text sizes ======================================*/
    --text-xxxxl: 230%;
    --text-xxxl: 200%;
    --text-xxl: 170%;
    --text-xl:  140%;
    --text-lgl: 130%;
    --text-lg:  120%;
    --text-mdl: 110%;
    --text-md:  100%;
    --text-mds: 90%;
    --text-sm:  80%;
    --text-xs:  70%;
    
    /*=== Fonts ============================================*/
    --font-family-body-text: "Roboto", sans-serif;
    --font-family-headers-lg: "Oswald", sans-serif;
    --font-family-headers-md: "Montserrat", sans-serif;
    --font-family-buttons: "Montserrat", sans-serif;
    --font-family-quotations: "Poppins", sans-serif;
    --font-family-logotype: "Merriweather", sans-serif;

   
   /* :::: GENERAL ELEMENTS VARIABLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    
    /* === BODY === */
    
    /* General */


    /* Header */
    --top-navbar-bg-color: var(--transparent-color);  /* old navbar used secondary 7 */

    /* Footer */
    --footer-bg-color: var(--secondary-color-5);
    --footer-border-color: var(--secondary-color-7);
    

    /* For pages using full screen background images */
    --screen-overlay-0: rgba(219,219,219,0);
    --screen-overlay-50: rgba(219,219,219,0);
    --screen-overlay-100: rgba(219,219,219,0);
    
    
    /* Links */
    --link-hover-bg-color: var(--secondary-color-7);


    /* === FORMS === */


    /* === BORDERS === */
    --border-thin-light: 1px solid var(--secondary-color-6);

    /* === LOGOTYPE === */
    --logo-text-color: var(--secondary-color-1);
    --logo-icon-color: var(--primary-color-2);
    --logo-icon-size: 1.2em;
    --logo-small-font-size: var(--text-xs);
    --logo-medium-font-size: var(--text-md);
    --logo-large-font-size: var(--text-lgl);
    --logo-font-stretch: ultra-expanded;
    
    /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
    /* :::: #1 - SPECIFIC SECTIONS AND PAGES :::::::::::::::::::::::::::::::::::::::::::::::: */ 
    /* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

    /* ==== #2 - MAIN PAGE ================================================================== */
    
    /* Billboard */
    

    /* Main Page Info */
    --main-page-quotes-bg-color: var(--secondary-color-5);
    --main-page-usp-bg-color: var(--secondary-color-5);
    --main-page-trial-bg-color: var(--secondary-color-5);
    --main-page-leasing-bg-color: var(--secondary-color-5);
    --main-page-markersclub-bg-color: var(--secondary-color-5);


}